//colors
$blue-color:#57bfff;
$blue-text-gradient: linear-gradient(43deg,#1FA5F7 0%,#63F1FA 40%, #0884d1 100%);

//fonts
$font-primary: "JetBrains Mono", monospace;
$font-secondary: "Inter", sans-serif;
